<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!isLoading && notifications.length === 0">
    <p>There is no Notifications</p>
  </ion-grid>

  <ion-grid *ngIf="isLoading">
    <p>Loading...</p>
  </ion-grid>

  <ion-grid *ngIf="!isLoading && notifications.length >0">
    <ion-row>
      <ion-toolbar color="danger">
        <ion-segment
          (ionChange)="segmentChanged($event)"
          [(ngModel)]="messageTerm"
          value="false"
        >
          <ion-segment-button value="false">
            <ion-label>New Messages</ion-label>
          </ion-segment-button>
          <ion-segment-button value="true">
            <ion-label>Old Messages</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list
          *ngFor="let notification of notifications| filter: messageTerm "
        >
          <ion-card
            [routerLink]="['/admin','tabs','notification','view',notification.notificationId]"
          >
            <ion-card-header>
              <ion-card-title> {{notification.date | date}} </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-label>{{notification.message}}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
