<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!isLoading && !user">
    <p>There is no Notifications</p>
  </ion-grid>

  <ion-grid *ngIf="isLoading">
    <p>Loading...</p>
  </ion-grid>

  <ion-grid *ngIf="!isLoading && user">
    <ion-row>
      <img src="assets/profile.png" alt="">
      <ion-col class="list">
        <ion-list>
          <ion-item>
            <ion-label>
              <ion-text class="date"> Your Name: {{user.yourName}} </ion-text>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-text class="date"> Username: {{user.userName}} </ion-text>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-text class="date">Address: {{user.address}} </ion-text>
            </ion-label>
          </ion-item>
<!--
         <ion-item>
            <ion-label>
              <ion-text class="date">Zone: {{user.zone}} </ion-text>
            </ion-label>
          </ion-item>
-->
          

          <ion-item>
            <ion-label>
              <ion-text class="date">Mobile No: {{user.mobile}} </ion-text>
            </ion-label>
          </ion-item>

          <!-- <ion-button color="primary" expand="block" routerLink="/dashboard/tabs/profile/reset-password">Reset Password</ion-button> -->
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
